# Avocado Data Analysis Notebook
ALT-TAB LABS LLP &copy; 2020 All Rights Reserved

In [1]:
# show files in current directory
import os
os.listdir()

['.ipynb_checkpoints',
 'avocado-format.png',
 'avocado-submission.csv',
 'avocado-test.csv',
 'avocado-train.csv',
 'avocado_deep model.ipynb',
 'avocado_notebook.ipynb',
 'avocado_notebook_other_models.ipynb',
 'pyctfsglib.py',
 '__pycache__']

In [2]:
# load csvs
import pandas as pd
MyDataFrame = pd.read_csv('avocado-train.csv', index_col='id')

In [3]:
# View the data!
MyDataFrame.head()
#TODO TODO TODO TODO TODO TODO TODO TODO

,DataBatch,Date,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,region,AveragePrice
id,,,,,,,,,,,,,
0,7,2016-11-06,183542.31,98949.98,22891.61,95.00,61605.72,43571.99,17499.01,534.72,conventional,NewOrleansMobile,1.49
1,24,2017-07-16,224434.92,42951.31,120360.02,131.85,60991.74,53141.81,3621.04,4228.89,conventional,HarrisburgScranton,1.38
2,51,2015-01-04,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.00,organic,Atlanta,1.76
3,22,2015-07-26,91825.07,1679.28,45615.48,741.77,43788.54,43788.54,0.00,0.00,conventional,BuffaloRochester,1.39
4,50,2015-01-11,54644.32,1491.88,33759.12,1325.17,18068.15,12165.94,5902.21,0.00,conventional,Pittsburgh,1.54

In [4]:
# Clean Data

# Drops missing values 
#TODO TODO TODO TODO TODO TODO TODO TODO
MyDataFrame.dropna()
# Convert strings to numbers
#TODO TODO TODO TODO TODO TODO TODO TODO
c = ['TotalVolume',"4046","4225","4770","TotalBags","SmallBags","LargeBags","XLargeBags","AveragePrice"]
#["TotalVolume", "DataBatch", "type", "4046", "4225", "4770", "TotalBags", "SmallBags", "LargeBags", "XLargeBags"]

for column in c:
    MyDataFrame[column] = pd.to_numeric(MyDataFrame[column])
# Read more advanced ways to clean data
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
# https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

In [5]:
# Select data for learning
features = ['TotalVolume',"TotalBags","SmallBags","LargeBags","XLargeBags"] #TODO TODO TODO TODO TODO TODO TODO TODO
#features = ["TotalVolume"] 
#features = ['TotalVolume',"TotalBags"]
features = c[:-1]

X = MyDataFrame[features]#None #TODO TODO TODO TODO TODO TODO TODO TODO
y = MyDataFrame["AveragePrice"]#None #TODO TODO TODO TODO TODO TODO TODO TODO

In [6]:
X.head()
#y.head()

,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags
id,,,,,,,,
0,183542.31,98949.98,22891.61,95.00,61605.72,43571.99,17499.01,534.72
1,224434.92,42951.31,120360.02,131.85,60991.74,53141.81,3621.04,4228.89
2,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.00
3,91825.07,1679.28,45615.48,741.77,43788.54,43788.54,0.00,0.00
4,54644.32,1491.88,33759.12,1325.17,18068.15,12165.94,5902.21,0.00

# Regression Time!

In [7]:
# Sci Kit Learn! Scientific Computing library for python
from sklearn import *

In [8]:
# Split training into some for training and some for testing
# https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

from sklearn.model_selection import train_test_split
#TODO TODO TODO TODO TODO TODO TODO TODO
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.33, random_state=42)
print("training split: ", len(Xtrain), "; test split: ", len(Xtest))

training split:  8558 ; test split:  4216

In [9]:
# Pick the regression model we want to use

import sklearn.tree as tree
models = [
    tree.DecisionTreeRegressor(random_state=2020),
    ensemble.RandomForestRegressor(random_state=2020, n_estimators=100)
]

currScore = 0
model = None
for i in models:
    print(i)
    i.fit(Xtrain,ytrain)
    score = i.score(Xtest,ytest)
    if score > currScore:
        model = i
        currScore = score

# https://www.kdnuggets.com/2016/10/beginners-guide-neural-networks-python-scikit-learn.html/2
'''
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# Fit only to the training data
scaler.fit(Xtrain)
Xtrain = scaler.transform(Xtrain)
Xtest = scaler.transform(Xtest)

from sklearn.neural_network import MLPClassifier
scaler = StandardScaler()
model = MLPClassifier(hidden_layer_sizes=(len(features),len(features),len(features)))
'''

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=2020, splitter='best')
RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=2020, verbose=0, warm_start=False)

'\nfrom sklearn.preprocessing import StandardScaler\nscaler = StandardScaler()\n# Fit only to the training data\nscaler.fit(Xtrain)\nXtrain = scaler.transform(Xtrain)\nXtest = scaler.transform(Xtest)\n\nfrom sklearn.neural_network import MLPClassifier\nscaler = StandardScaler()\nmodel = MLPClassifier(hidden_layer_sizes=(len(features),len(features),len(features)))\n'

In [10]:
# Perform regression on the data
model.fit(Xtrain, ytrain) #TODO TODO TODO TODO TODO TODO TODO TODO

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=2020, verbose=0, warm_start=False)

In [11]:
# Score model
model.score(Xtest, ytest) #TODO TODO TODO TODO TODO TODO TODO TODO

0.71970011194685

# Predict for Testing data

In [12]:
# Clean Data
MyDataFrame = pd.read_csv('avocado-test.csv', index_col='id')
# Drops missing values 
#MyDataFrame.dropna()
# Convert strings to numbers
c = ['TotalVolume',"4046","4225","4770","TotalBags","SmallBags","LargeBags","XLargeBags"]#,"AveragePrice"]
for column in c:
    MyDataFrame[column] = pd.to_numeric(MyDataFrame[column])
# Read more advanced ways to clean data
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
# https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

In [13]:
# Select features
XforPredictions =  MyDataFrame[features]#None #TODO TODO TODO TODO TODO TODO TODO TODO

#scaler = StandardScaler()
## Fit only to the training data
#scaler.fit(XforPredictions)
#XforPredictions = scaler.transform(XforPredictions)

XforPredictions.head()

,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags
id,,,,,,,,
0,28969.34,80.77,27361.91,0.00,1526.66,1526.66,0.00,0.00
1,322962.89,5632.85,242365.82,2441.56,72522.66,22942.48,46083.51,3496.67
2,155334.45,3657.79,74068.65,0.00,77608.01,27302.29,50305.72,0.00
3,10231.74,341.89,8519.00,0.00,1370.85,303.33,1067.52,0.00
4,10652.02,6905.95,39.52,0.00,3706.55,3706.55,0.00,0.00

In [14]:
# Make Predictions!
model.fit(X,y)
yPredictions = model.predict(XforPredictions)# None #TODO TODO TODO TODO TODO TODO TODO TODO
print("Predictions:", yPredictions)

Predictions: [2.0235 1.576  1.5287 ... 1.4586 1.9312 1.6658]

In [15]:
# Save to CSV File!
XforPredictions =  MyDataFrame[features]
output = pd.DataFrame({'id': XforPredictions.index, 'AveragePrice': yPredictions})
output.to_csv('avocado-submission.csv', index=False)
print(output)

        id  AveragePrice
0        0        2.0235
1        1        1.5760
2        2        1.5287
3        3        1.4481
4        4        1.4311
5        5        0.9613
6        6        1.7275
7        7        1.7552
8        8        0.9834
9        9        1.5065
10      10        1.1876
11      11        1.5548
12      12        0.7996
13      13        1.6646
14      14        1.6973
15      15        1.7523
16      16        0.9556
17      17        1.1809
18      18        1.3164
19      19        1.2981
20      20        1.9016
21      21        0.8530
22      22        1.8464
23      23        1.0939
24      24        1.5870
25      25        2.0579
26      26        1.6958
27      27        1.5286
28      28        1.0063
29      29        1.3423
...    ...           ...
5445  5445        1.0809
5446  5446        1.4883
5447  5447        1.5634
5448  5448        0.9525
5449  5449        1.2559
5450  5450        1.3300
5451  5451        1.7036
5452  5452        1.1699
5453  5453        1.5805
5454  5454        1.6329
5455  5455        1.0991
5456  5456        1.4873
5457  5457        1.3700
5458  5458        0.9697
5459  5459        0.7529
5460  5460        1.2457
5461  5461        1.3071
5462  5462        0.8242
5463  5463        1.4247
5464  5464        1.5325
5465  5465        1.1497
5466  5466        1.6418
5467  5467        1.7396
5468  5468        0.9663
5469  5469        1.8110
5470  5470        1.5979
5471  5471        1.3824
5472  5472        1.4586
5473  5473        1.9312
5474  5474        1.6658

[5475 rows x 2 columns]

# Upload for grading

In [16]:
# Download CTFSG Grader Libraries
import urllib.request, os
urllib.request.urlretrieve('https://raw.githubusercontent.com/alttablabs/ctfsg-utils/master/pyctfsglib.py', './pyctfsglib.py')
print('Downloaded pyctfsglib.py:', 'pyctfsglib.py' in os.listdir())

Downloaded pyctfsglib.py: True

In [17]:
# Connect to graders
import pyctfsglib as ctfsg
import random

USER_TOKEN = "MXhtGfdjdsUfiEKTHHEuVGohZESBdMiHrFkmYqNqIFfcWOHGvcubvHJvnxpAqRMh" # You need to fill this up
GRADER_URL = random.choice([
"http://challenges.csdc20t.ctf.sg:30001/", "http://challenges.csdc20t.ctf.sg:30002/"
])
grader = ctfsg.DSGraderClient(GRADER_URL, USER_TOKEN)

DSGraderClient: Successfully Connected!
[SERVER] MOTD: CHECK your USER_TOKEN and GRADER_URL HTTP address! I'm AVOCADO_PRICE TEST_GRADER_1

In [18]:
grader.submitFile('avocado-submission.csv')

ProofOfWork Challenge =>  ('CTFSGRBc1e7db7cfdaa8ac7f50d45463d35bda3', 22)
ProofOfWork Answer Found! =>  4872793

'{"challenge":{"name":"Avocado Prices"},"id":"ck8ldwycb5mrb0868bov2xurk","status":"PARTIALLY_CORRECT","multiplier":0.7671,"submittedBy":{"username":"nyjc-1"},"createdAt":"2020-04-04T08:58:22Z"}'