# Avocado Data Analysis Notebook
ALT-TAB LABS LLP &copy; 2020 All Rights Reserved

In [1]:
# show files in current directory
import os
os.listdir()

['.ipynb_checkpoints',
 'avocado-format.png',
 'avocado-submission.csv',
 'avocado-test.csv',
 'avocado-train.csv',
 'avocado_notebook.ipynb',
 'pyctfsglib.py',
 '__pycache__']

In [2]:
# load csvs
import pandas as pd
MyDataFrame = pd.read_csv('avocado-train.csv', index_col='id')

In [3]:
# View the data!
MyDataFrame.head()
#TODO TODO TODO TODO TODO TODO TODO TODO

,DataBatch,Date,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,region,AveragePrice
id,,,,,,,,,,,,,
0,7,2016-11-06,183542.31,98949.98,22891.61,95.00,61605.72,43571.99,17499.01,534.72,conventional,NewOrleansMobile,1.49
1,24,2017-07-16,224434.92,42951.31,120360.02,131.85,60991.74,53141.81,3621.04,4228.89,conventional,HarrisburgScranton,1.38
2,51,2015-01-04,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.00,organic,Atlanta,1.76
3,22,2015-07-26,91825.07,1679.28,45615.48,741.77,43788.54,43788.54,0.00,0.00,conventional,BuffaloRochester,1.39
4,50,2015-01-11,54644.32,1491.88,33759.12,1325.17,18068.15,12165.94,5902.21,0.00,conventional,Pittsburgh,1.54

In [4]:
# Clean Data

# Drops missing values 
#TODO TODO TODO TODO TODO TODO TODO TODO
MyDataFrame.dropna()
# Convert strings to numbers
#TODO TODO TODO TODO TODO TODO TODO TODO
c = ['TotalVolume',"4046","4225","4770","TotalBags","SmallBags","LargeBags","XLargeBags","AveragePrice"]
for column in c:
    MyDataFrame[column] = pd.to_numeric(MyDataFrame[column])
# Read more advanced ways to clean data
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
# https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

In [5]:
# Select data for learning
features = ['TotalVolume',"TotalBags","SmallBags","LargeBags","XLargeBags"] #TODO TODO TODO TODO TODO TODO TODO TODO
features = ["TotalVolume"] 
features = ['TotalVolume',"TotalBags"]

X = MyDataFrame[features]#None #TODO TODO TODO TODO TODO TODO TODO TODO
y = MyDataFrame["AveragePrice"]#None #TODO TODO TODO TODO TODO TODO TODO TODO

In [6]:
X.head()
#y.head()

    TotalVolume
id
0     183542.31
1     224434.92
2       3846.69
3      91825.07
4      54644.32

# Regression Time!

In [7]:
# Sci Kit Learn! Scientific Computing library for python
from sklearn import *

In [8]:
# Pick the regression model we want to use
import sklearn.tree as tree
# Decision Tree Regression
# https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html
model = tree.DecisionTreeRegressor(random_state=2020)

# Random Forest Regression
# https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html
model = ensemble.RandomForestRegressor(random_state=2020, n_estimators=100)

In [9]:
# Split training into some for training and some for testing
# https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

from sklearn.model_selection import train_test_split
#TODO TODO TODO TODO TODO TODO TODO TODO
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.33, random_state=42)
print("training split: ", len(Xtrain), "; test split: ", len(Xtest))

training split:  8558 ; test split:  4216

In [10]:
# Perform regression on the data
model.fit(Xtrain, ytrain) #TODO TODO TODO TODO TODO TODO TODO TODO

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=2020, verbose=0, warm_start=False)

In [11]:
# Score model
model.score(Xtest, ytest) #TODO TODO TODO TODO TODO TODO TODO TODO

0.09341785564495707

# Predict for Testing data

In [12]:
# Clean Data
MyDataFrame = pd.read_csv('avocado-test.csv', index_col='id')
# Drops missing values 
#MyDataFrame.dropna()
# Convert strings to numbers
c = ['TotalVolume',"4046","4225","4770","TotalBags","SmallBags","LargeBags","XLargeBags"]#,"AveragePrice"]
for column in c:
    MyDataFrame[column] = pd.to_numeric(MyDataFrame[column])
# Read more advanced ways to clean data
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
# https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

In [13]:
# Select features
XforPredictions =  MyDataFrame[features]#None #TODO TODO TODO TODO TODO TODO TODO TODO
XforPredictions.head()

    TotalVolume
id
0      28969.34
1     322962.89
2     155334.45
3      10231.74
4      10652.02

In [14]:
# Make Predictions!
yPredictions = model.predict(XforPredictions)# None #TODO TODO TODO TODO TODO TODO TODO TODO
print("Predictions:", yPredictions)

Predictions: [1.4349 1.0903 1.114  ... 0.7768 2.0164 1.6327]

In [15]:
# Save to CSV File!
output = pd.DataFrame({'id': XforPredictions.index, 'AveragePrice': yPredictions})
output.to_csv('avocado-submission.csv', index=False)
print(output)

        id  AveragePrice
0        0        1.4349
1        1        1.0903
2        2        1.1140
3        3        1.8306
4        4        1.6876
5        5        1.2479
6        6        1.8462
7        7        1.9432
8        8        0.9996
9        9        1.1116
10      10        1.0134
11      11        1.2506
12      12        1.2281
13      13        1.8462
14      14        1.6956
15      15        1.5930
16      16        1.6216
17      17        1.4359
18      18        1.1016
19      19        1.2682
20      20        1.6314
21      21        1.2220
22      22        1.5219
23      23        1.2792
24      24        1.9302
25      25        1.5208
26      26        1.6699
27      27        1.7594
28      28        0.9253
29      29        1.1568
...    ...           ...
5445  5445        1.2991
5446  5446        1.4488
5447  5447        1.5812
5448  5448        1.1777
5449  5449        1.1996
5450  5450        1.3261
5451  5451        1.7444
5452  5452        0.8886
5453  5453        1.5562
5454  5454        1.6938
5455  5455        1.1345
5456  5456        1.1555
5457  5457        1.5540
5458  5458        1.1848
5459  5459        1.5150
5460  5460        1.7904
5461  5461        1.1594
5462  5462        0.8953
5463  5463        2.1187
5464  5464        1.5423
5465  5465        1.1492
5466  5466        1.7198
5467  5467        1.8410
5468  5468        1.4692
5469  5469        1.7909
5470  5470        1.3447
5471  5471        1.8174
5472  5472        0.7768
5473  5473        2.0164
5474  5474        1.6327

[5475 rows x 2 columns]

# Upload for grading

In [16]:
# Download CTFSG Grader Libraries
import urllib.request, os
urllib.request.urlretrieve('https://raw.githubusercontent.com/alttablabs/ctfsg-utils/master/pyctfsglib.py', './pyctfsglib.py')
print('Downloaded pyctfsglib.py:', 'pyctfsglib.py' in os.listdir())

Downloaded pyctfsglib.py: True

In [17]:
# Connect to graders
import pyctfsglib as ctfsg
import random

USER_TOKEN = "MXhtGfdjdsUfiEKTHHEuVGohZESBdMiHrFkmYqNqIFfcWOHGvcubvHJvnxpAqRMh" # You need to fill this up
GRADER_URL = random.choice([ # Check if these are correct GRADER URLS for the specific challenge
    "http://ABC.XYZ.ctf.sg:12345/",
    "http://ABC.XYZ.ctf.sg:23456/"
])
GRADER_URL = random.choice([
"http://challenges.csdc20t.ctf.sg:30001/", "http://challenges.csdc20t.ctf.sg:30002/"
])
grader = ctfsg.DSGraderClient(GRADER_URL, USER_TOKEN)

DSGraderClient: Successfully Connected!
[SERVER] MOTD: CHECK your USER_TOKEN and GRADER_URL HTTP address! I'm AVOCADO_PRICE TEST_GRADER_1

In [18]:
grader.submitFile('avocado-submission.csv')

ProofOfWork Challenge =>  ('CTFSGRBcd7ca491f2702e4033ca0956fa65d328', 22)
ProofOfWork Answer Found! =>  2626721

'{"challenge":{"name":"Avocado Prices"},"id":"ck8lazi6o4sva0702xvp7gin9","status":"PARTIALLY_CORRECT","multiplier":0.0758,"submittedBy":{"username":"nyjc-1"},"createdAt":"2020-04-04T07:36:22Z"}'